[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
rq = "*"
tweepy = "*"
click = "*"
sqlalchemy = "*"
"flake8" = "*"
tqdm = "*"
invoke = "*"

[dev-packages]

[requires]
python_version = "3.7"
